#metaplex-header-logo {
  margin-right: 32px;
  img {
    object-fit: contain;
    width: 50px;
  }
}

.logged-in-wrapper {
  display: flex;
}

.all-menu-items-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-wrapper {
  flex-grow: 1;
  overflow: hidden;
}
