// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
}

// Overrides and antd cleanup

.ant-tabs.ant-tabs-top {
  // NOTE: hack override to fix a subtle bug with the display of masonry tab views
  overflow: visible;
}
.app-section {
  &--loading {
    margin: @margin-lg 0 0 0;
    display: flex;
    justify-content: center;
  }
}

// Global utility classes

.metaplex {
  &-spacing {
    &-bottom {
      &-md {
        margin-bottom: @margin-md;
      }
      &-lg {
        margin-bottom: @margin-lg;
      }
    }
  }
  &-align {
    &-center {
      text-align: center;
    }
  }
}

.metaplex-text-align {
  &-center {
    text-align: center;
  }
}

.metaplex-fullwidth {
  // Leverage CSS specificity
  &,
  &.metaplex-masonry {
    width: 100%;
  }
}

.metaplex-display-block {
  display: block;
}

.metaplex-display-flex {
  &,
  &.ant-space {
    display: flex;
  }
}

.metaplex-square-w,
.metaplex-square-h {
  aspect-ratio: 1 / 1;
}

.metaplex-square-w,
.metaplex-auto-width {
  width: auto;
}

.metaplex-square-h,
.metaplex-auto-height {
  height: auto;
}

.ant-space.metaplex-space-justify-end {
  justify-content: flex-end;
}

.ant-space.metaplex-space-align-stretch {
  align-items: stretch;
}

.ant-btn-lg.metaplex-button-jumbo {
  width: auto;
  height: auto;
  white-space: normal;

  &.metaplex-fullwidth {
    width: 100%;
  }
}

.ant-btn.metaplex-button-appbar {
  display: block;
  line-height: 0;
}

:root,
html,
body {
  font-family: @theme-family-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @theme-family-title;
}

// ANT MENU STYLING

.metaplex-menu-pills {
  padding: 12px 0;
  &.ant-menu {
    border: none;
    gap: 12px;
    &::before,
    &::after {
      display: none;
    }
    overflow: auto !important;
    display: flex;
    flex-wrap: wrap;
    > .ant-menu-item {
      border-radius: 8px;
      margin: 0;
      &::after {
        border-bottom: none;
      }
      &:hover,
      &.ant-menu-item-selected {
        background-color: @theme-color-base-bold;
        color: @theme-color-text;
        &::after {
          border-bottom: none;
        }
        * {
          color: inherit;
        }
      }
      &.ant-menu-item-active {
        &::after {
          border-bottom: none;
        }
      }
      &:active {
        transform: scale(0.97);
      }
      > * {
        transition: none !important;
      }
    }
  }
  &.ant-menu-vertical {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
@media screen and (max-width: 900px) {
  .ant-menu-horizontal {
    line-height: 1 !important;
    > .ant-menu-item {
      padding: 10px 14px !important;
    }
  }
}
